<div class="container">
    <div class="page-header">
        <h1>List: <%= @annotation_list.id %></h1>
    </div>
    <div class="col-sm-12 col-md-12">

        <p id="notice"><%= notice %></p>

        <p>
            <b>Identifier (URI):</b>
            <%= @annotation_list['@id'] %>
        </p>

        <p>
            <b>Within:</b>
            <%= @annotation_list.within %>
        </p>

        <p>
            <b>Resources:</b>
            <%= @annotation_list.resources %>
        </p>

        <%= link_to 'Edit', edit_annotation_list_path(@annotation_list) %> |
        <%= link_to 'Back', annotation_list_path %>
    </div>
</div>


